@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
}

:root {
  font-family: "Outfit", sans-serif;
  background-color: #fdfbff; /* Tech-Flat Background */
  color: #1a1a1a;
}

.bg-playbook {
  background-color: #fdfbff;
  background-image: radial-gradient(#e9d5ff 2px, transparent 2px);
  background-size: 32px 32px;
}
